<div class="flex items-center justify-center relative w-11/12 h-96 mx-auto overflow-hidden rounded-2xl shadow-lg">

    <img src="https://images.macrumors.com/t/CBGwjRC0m9X88fVfwedeq2bovJ8=/800x0/article-new/2025/04/new-apple-watch-se-blue.jpeg?lossy" class="w-full h-full object-cover shrink-0" alt="Image 1">
    <img src="https://th.bing.com/th/id/OIP.vJWdh8YJ8VtC_azWXLvdfgHaEo?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3" class="w-full h-full object-cover shrink-0" alt="Image 2">
    <img src="http://tse3.mm.bing.net/th?id=OIP.fGavixj--FsCgsi6l_awGgHaE7" class="w-full h-full object-cover shrink-0" alt="Image 3">
  

  <button (click)="prevSlide()" class="absolute top-1/2 left-4 -translate-y-1/2 bg-white p-2 rounded-full shadow hover:bg-gray-200">
    ◀
  </button>
  <button (click)="nextSlide()" class="absolute top-1/2 right-4 -translate-y-1/2 bg-white p-2 rounded-full shadow hover:bg-gray-200">
    ▶
  </button>
</div>
